
    <ul class="my-8">
        <li class="">
            <div class="flex items-center pl-3">
                <input id="vue-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded">
                <label for="vue-checkbox" class="py-3 ml-2 text-sm font-medium text-gray-900">Vue JS</label>
            </div>
        </li>
        <li class="">
            <div class="flex items-center pl-3">
                <input id="react-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded">
                <label for="react-checkbox" class="py-3 ml-2 text-sm font-medium text-gray-900">React</label>
            </div>
        </li>
        <li class="">
            <div class="flex items-center pl-3">
                <input id="angular-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded">
                <label for="angular-checkbox" class="py-3 ml-2 text-sm font-medium text-gray-900">Angular</label>
            </div>
        </li>
        <li class="">
            <div class="flex items-center pl-3">
                <input id="laravel-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded">
                <label for="laravel-checkbox" class="py-3 ml-2 text-sm font-medium text-gray-900">Laravel</label>
            </div>
        </li>
    </ul>

